html{
box-sizing:  border-box;
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

header{
    display: flex;
    background-color: rgba(128, 128, 128, 0.144);
}
#logoHome{
    margin-top: 40px;
    width: 10%;
    font-family: 'Dancing Script';
    font-size: 60px
}
.headerList{
    list-style: none;
    display: flex;
    margin-left: 190px;
    margin-top: 155px;
    font-size: 30px;
    font-family: 'Lexend Deca', sans-serif;
}
.headerList li{
    position: relative;
    padding-right: 80px;
}
.headerList li a {
    color: orange;
    font-family: 'Acme', sans-serif;
    font-size: 120%;
  }
  .headerList > li:hover::before{
    content: "";
    position: absolute;
    top: -50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: url("https://cdn.icon-icons.com/icons2/2248/PNG/512/cat_icon_138789.png");
    background-size: cover;
    border-radius: 50%;
  }
  
  
.address{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-family: 'Lexend Deca', sans-serif;
}
#firstSection{
    font-family: 'Acme', sans-serif;
}
#findKitty{
    width: 40%;
    margin: auto;
}

.soulmate{
font-size: 100px;
}
.viewCats{
    position: relative;
    left: 60px;
    bottom: 20px;
    font-size: 40px;
    text-decoration: none;
    color: orange;
}
.viewCats:hover::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url("https://cdn.icon-icons.com/icons2/2248/PNG/512/cat_icon_138789.png");
    background-size: cover;
    border-radius: 50%;
    
  }
#firstSection{
    display: flex;
}
.findKittyPic{
    width: 40%;
    margin-left: auto;
}
.kittyPicture{
    height: 500px;
    width: 750px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.kittyPicture.hidden {
    opacity: 0;
  }
#containerOne{
    text-align: center;
}
#picturesNLinks{
    margin: auto;
    width: 100%;
}
#container{
    display: flex;
}
.sectionOne{
    width: 25%;
    margin: auto;
}
.sectionTwo{
    width: 25%;
    margin: auto;
}
.sectionThree{
    width: 25%;
    margin: auto;
}
.wordList{
    list-style: none;
    display: flex;
    justify-content: center;
}
.wordList > li{
    padding-right: 100px;
}
.wordList > .A{
    padding-left: 50px;
}
.B{
    padding-left: 50px;
}
.C{
    padding-left: 50px;
}
.D{
    padding-left: 50px;
}
.E{
    padding-left: 50px;
}
footer{
    background-color: rgba(128, 128, 128, 0.144);
}
.footer{
    display: flex;
    height: 120px;
}
.addressTwo{
    width: 10%;
    margin-left: auto;
    position: relative;
    bottom: 50px;
    font-family: 'Lexend Deca', sans-serif;
}
a{
    text-decoration: none;
}